MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=al_hadaba
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_PHONE=01154833016
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
NEXT_PUBLIC_WHATSAPP=201154833016

NEXT_PUBLIC_SITE_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
